header{
   
    padding-top: 20px;   
    margin-bottom: 20px;
    background: linear-gradient(to bottom, rgb(22, 109, 109), white)
}

.rowCabecera{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.logo{
    padding-bottom: 20px;
}


.logo a{
    font-size: 45px;
    color: white;
}

.logo a:hover{
    color: white;
    text-decoration: none;
}

.titulo{
    color: rgb(247, 100, 95);
}

header h2{
    color: grey;
    font-size: 20px;
}