<div class="container">
  <h2 class="h2 text-center" style="margin-top:20px;">AUTORIDADES DE COMISIÓN DE ESCRIBANOS NOVELES DE LA PROVINCIA DE JUJUY 2016-2019</h2>
  <div class="row" style="margin-top:20px;">
    <div class="col-lg-4 mb-4">
      <div class="card h-75 text-center">
        <img class="card-img-top" src="../../../assets/imagenes/nosotros/dos.jpg" alt="" height="300">
        <div class="card-body">
          <h4 class="card-title">Presidente</h4>
          <h6 class="card-subtitle mb-2 text-muted">Aparicio Gastón Santiago </h6>
        </div>
        <div class="card-footer">
          <a href="#">aparicio@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-75 text-center">
        <img class="card-img-top" src="../../../assets/imagenes/nosotros/uno.jpg" alt="" height="250">
        <div class="card-body">
          <h4 class="card-title">Vice Presidente</h4>
          <h6 class="card-subtitle mb-2 text-muted">Graciela Beatriz JALJAL.-</h6>
        </div>
        <div class="card-footer">
          <a href="#">JalJal@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-75 text-center">
        <img class="card-img-top" src="../../../assets/imagenes/nosotros/tres.jpg" alt="" height="250">
        <div class="card-body">
          <h4 class="card-title">Secretario</h4>
          <h6 class="card-subtitle mb-2 text-muted">Gonzalo FERIOLI</h6>
        </div>
        <div class="card-footer">
          <a href="#">rios@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-75 text-center">
        <img class="card-img-top" src="../../../assets/imagenes/nosotros/cinco.jpg" alt="" height="300">
        <div class="card-body">
          <h4 class="card-title">TESORERO</h4>
          <h6 class="card-subtitle mb-2 text-muted"> Ramiro GALVEZ </h6>
        </div>
        <div class="card-footer">
          <a href="#">Galvez@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-75 text-center">
        <img class="card-img-top" src="../../../assets/imagenes/nosotros/cuatro.jpg" alt="" height="250">
        <div class="card-body">
          <h4 class="card-title">COORDINADOR</h4>
          <h6 class="card-subtitle mb-2 text-muted">María Florencia TELL</h6>
        </div>
        <div class="card-footer">
          <a href="#">Tell@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-75 text-center">
        <img class="card-img-top" src="../../../assets/imagenes/nosotros/seis.jpg" alt="" height="250">
        <div class="card-body">
          <h4 class="card-title">COORDINADOR SUPLENTE</h4>
          <h6 class="card-subtitle mb-2 text-muted">Erica Jorgelina VILLENA</h6>
        </div>
        <div class="card-footer">
          <a href="#">Villena@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
  </div>


