<div class="social">
  <ul>
    <li><a href="http://www.facebook.com" target="_blank" class="icon-facebook fab fa-facebook-square "></a></li>
    <li><a href="http://www.twitter.com" target="_blank" class="icon-twitter fab fa-twitter-square"></a></li>
    <li><a href="http://www.googleplus.com" target="_blank" class="icon-googleplus fab fa-google-plus"></a></li>
    <li><a href="https://www.instagram.com" target="_blank" class="icon-pinterest fab fa-instagram"></a></li>
    <li><a href="mailto:contacto@falconmasters.com" class="icon-mail fas fa-envelope"></a></li>
  </ul>
</div>