<div class="container">
<aside class="d-none d-md-block" style="margin-top: 10px" >
<img class="img-fluid" src="../../../../assets/imagenes/sidano.png" alt="sistema de gestion" >
<div class="list-group">
  <a href="" class="list-group-item">Registro general de la provincia</a>
  <a href="" class="list-group-item">Honorarios</a>
  <a href="" class="list-group-item">Biblioteca online</a>
  <a href="" class="list-group-item">Información de interés</a>
  <a href="" class="list-group-item">Comisiones</a>
  <a href="" class="list-group-item">Galerias</a>
</div>
<div style="margin-top: 15px">
  <h4 class="text-center">Artículos Recientes</h4>
  <a href="" class="list-group-item">Honorarios
    <h4 class="list-group-item-heading">Iniciar proyectos</h4>
    <p class="list-group-item-text"> Aprende un poco</p>
  </a>
  <a href="" class="list-group-item">Honorarios
    <h4 class="list-group-item-heading">Iniciar proyectos</h4>
    <p class="list-group-item-text"> Aprende un poco</p>
  </a>
  <a href="" class="list-group-item">Honorarios
    <h4 class="list-group-item-heading">Iniciar proyectos</h4>
    <p class="list-group-item-text"> Aprende un poco</p>
  </a>

</div>
</aside>
</div>
