<div class="container">
    <h3 class="h3 text-center" style="margin-top:20px;">
      AUTORIDADES DE COMISIÓN DE ESCRIBANOS NOVELES DE LA PROVINCIA DE JUJUY
      2016-2019
    </h3>
    <div class="row" style="margin-top:20px;">
      <div class="col-lg-4 mb-4">
        <div class="card text-center" style="width: 18rem;">
          <img
            class="card-img-top"
            src="../../../assets/imagenes/nosotros/dos.jpg"
            alt="Card image cap"/>
          <div class="card-body">
            <h5 class="card-title">Presidente</h5>
            <h6 class="card-subtitle text-secondary">Aparicio Gastón Santiago</h6>
          </div>
          <div class="card-footer">
              <a href="#">aparicio@gmail.com</a>
            </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
          <div class="card text-center" style="width: 18rem;">
              <img
                class="card-img-top"
                src="../../../assets/imagenes/nosotros/uno.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Vice Presidente</h5>
                <h6 class="card-subtitle text-secondary">Graciela Beatriz JALJAL</h6>

              </div>
              <div class="card-footer">
                  <a href="#">aparicio@gmail.com</a>
                </div>
            </div>
      </div>
      <div class="col-lg-4 mb-4">
          <div class="card text-center" style="width: 18rem;">
              <img
                class="card-img-top"
                src="../../../assets/imagenes/nosotros/tres.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Secretario</h5>
                <h6 class="card-subtitle text-secondary">Gonzalo FERIOLI</h6>
              </div>
              <div class="card-footer">
                  <a href="#">ferioli@gmail.com</a>
                </div>
            </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card text-center" style="width: 18rem;">
                <img
                  class="card-img-top"
                  src="../../../assets/imagenes/nosotros/cinco.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">Tesorero</h5>
                  <h6 class="card-subtitle text-secondary">Ramiro GALVEZ</h6>
                </div>
                <div class="card-footer">
                    <a href="#">galvez@gmail.com</a>
                  </div>
              </div>
          </div>
      <div class="col-lg-4 mb-4">
          <div class="card text-center" style="width: 18rem;">
              <img
                class="card-img-top"
                src="../../../assets/imagenes/nosotros/cuatro.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Coordinador</h5>
                <h6 class="card-subtitle text-secondary">María Florencia TELL</h6>
              </div>
              <div class="card-footer">
                  <a href="#">mtell@gmail.com</a>
                </div>
            </div>
      </div>
      <div class="col-lg-4 mb-4">
          <div class="card  text-center" style="width:18rem;">
              <img
                class="card-img-top"
                src="../../../assets/imagenes/nosotros/seis.jpg"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">COORDINADOR SUPLENTE</h5>
                <h6 class="card-subtitle text-secondary">Erica Jorgelina VILLENA</h6>
              </div>
              <div class="card-footer">
                <a href="#">Villena@gmail.com</a>
              </div>
            </div>
      </div>



      </div>
    </div>

