<div class="container" style="margin-top: 15px">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header"><img class="img-fluid" src="../../../../assets/imagenes/acad1.jpg" alt=""  width="900"></div>
          <div class="card-body ">
      <p class=" text-justify">

El Colegio de Escribanos de la Provincia de Jujuy, invita a la Charla sobre «Régimen Tributario en la Actividad Notarial». La disertación estará a cargo del Dr. Pablo E. Landin y será el próximo lunes 10 de Junio, a las 15 horas en el Subsuelo de la institución.
<br> <br>
La actividad será transmitida por videoconferencia a las Delegaciones.
<br> <br>
Por informes:
Te.: (0388) 5706500 INT 6524/26, o en Obispo Trejo 104 – 2do. piso.
<br> <br>
Para inscribirse, haga click aquí:
<br> <br>
https://docs.google.com/forms/d/e/1FAIpQLSdlUfK2tBAKN3GNPLwd1MduyOpl6Fxn302AFwPP15qUuK7JiQ/viewform?usp=pp_url

<br> <br>

En caso de que el link no funcione, copiar el mismo desde https:// … hasta url (inclusive). Luego péguelo en la barra de Google. De esa manera accederá al formato de inscripción.
  </p>
  </div>
  </div>
      </div>
      <div class="col-md-3">
     <app-aside></app-aside>
    </div>
    </div>
  </div>
