.efecto:hover{
    background: hsl(258, 24%, 61%);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.75);
  }