.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }

  }

  div#contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  div#contenedor section {
    float: left;
    width: 70%;
  }

  agm-map {
    height: 300px;
  }


  div#contenedor aside {
    float: left;
    width: 25%;
    margin-left: 5%;
  }

  .efecto:hover{
    background: hsl(258, 24%, 61%);
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.75);
  }

.texto{
  border:3px rgb(25, 0, 255);
    
  border-radius: 2em;
}

.tarjeta{
  border:solid 3px;
  color: blue;  
  border-radius: 2em;
}