<div class="container" style="margin-top: 15px">
    <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header"><img class="img-thumbnail" src="../../../../assets/imagenes/muestra.jpg" alt=""></div>
        <div class="card-body ">
    <p class=" text-justify">  Hasta el 19 de julio, continúa la Muestra Homenaje «Diálogos visuales con Miguel Ángel Budini» en la Sala Enrique Mónaco del Colegio de Escribanos de la Provincia de Córdoba.

La exposición se enmarca dentro del proyecto de investigación presentado en la SeCyT de la Facultad de Artes, de la Universidad Nacional de Córdoba. Participan del proyecto los siguientes artistas: Olga Argañaraz; Alejandra Aranguren; Raquel Berta; Otilia Ceballos; Verónica Cuello; Judith Mori; Gabriela Pérez Guaita, Miguel Ángel Rodríguez.
<br>

En nombre de las autoridades del Colegio, la Escribana Analía Robledo hizo referencia a la vida del escultor y a la importante producción que dejó a los cordobeses: «Decir Miguel Ángel Budini es decir, por ejemplo, Cañada y Deán Funes. Porque allí están «Las niñas de la Cañada», esa escultura en hierro batido que Budini creó con sus manos; dos niñas descalzas, vestidas con la sencillez de la pobreza, con sus ojos huecos interpelando a los caminantes.»
<br>

La muestra «Diálogos visuales con Miguel Ángel Budini», podrá visitarse de lunes a viernes, de 10 a 18 horas en Obispo Trejo 104.
</p>
</div>
</div>
    </div>
    <div class="col-md-3">
   <app-aside></app-aside>
  </div>
  </div>
</div>
