

<footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #6351ce;">
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0">Suíguenos en nuestras redes sociales</h6>
            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-right">
              <a class="fb-ic" href="http://www.facebook.com">
                <i class="fab fa-facebook-f white-text mr-4 fa-2x"> </i>
              </a>
              <a class="tw-ic " href="http://www.twitter.com">
                <i class="fab fa-twitter white-text mr-4 fa-2x"> </i>
              </a>
              <a class="gplus-ic" href="http://www.google.com.ar">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a>
              <a class="li-ic" href="http://www.linkedin">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a>
              <a class="ins-ic" href="https://www.instagram.com">
                <i class="fab fa-instagram white-text"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>

    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
        <div class="col-md-4  mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold linea">Colegio de escribanos</h6>
          
          <p class="text-center">Para consultas generales se pueden usar los <br> siguientes teléfonos en los horarios <br>de 08:00-18:00 de lunes a viernes.</p>

        </div>
        <div class="col-md-4 mx-auto mb-4 text-white ">
          <h6 class="text-uppercase font-weight-bold linea">En otras provincias</h6>
          
          <p>
            <a href="http://www.colescba.org.ar">Córdoba</a>
          </p>
          <p>
            <a href="http://www.colescba.org.ar">Buenos Aires</a>
          </p>
          <p>
            <a href="http://www.colescba.org.ar">Formosa</a>
          </p>
          <p>
            <a href="http://www.colescba.org.ar">Mar del plata</a>
          </p>

        </div>

        <div class="col-md-4  mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold linea">Páginas amigas</h6>
          
          <p>
            <a href="https://www.afip.gob.ar">AFIP</a>
          </p>
          <p>
            <a href="https://www.anses.gob.ar">ANSES</a>
          </p>
          <p>
            <a href="http://www.migraciones.gov.ar">Dirección Nacional de Migraciones</a>
          </p>
          <p>
            <a href="http://www.boletin.jujuy.gob.ar">Boletín oficial de la provincia de Jujuy</a>
          </p>

        </div>

        <!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>    19 de Abril 384
            <br>
            San Salvador de Jujuy</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> colegiodeescribania@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> 0388-4278087</p>
          <p>
            <i class="fas fa-print mr-3"></i> 0388-4273414</p>

        </div> -->
      </div>
    </div>
