
.rowCabecera{
    padding-left: 10px;
    margin-right: auto;
    padding-bottom: 30px;
}

.logo{
    padding-bottom: 20px;
}


.logo a{
    font-size: 45px;
    color: white;
}

.logo a:hover{
    color: white;
    text-decoration: none;
}

.resaltado{
    color: dodgerblue;
}

header h2{
    color: grey;
    font-size: 20px;
}


header nav{
    background:#800000;   

}

header nav ul li a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
}
header nav ul li a:hover{   
    background: #a53838;
    border-radius: 40px 10px;
}

.menuclass{
    border: solid 3px;
    color: black;
    background: #5f2d2d;
    text-decoration: none;
    border-radius: 40px 10px;
}
