
<header>
    <img  class="img-fluid"  src="../../../assets/imagenes/logo2.jpg"   alt="logo escribanos">
  <div class="row head">
    <div class="col-md-12">
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark head">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['escribanias']">Escribanias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contactenos']">Contactenos</a>
        </li>
        <li class="nav-item">

        </li>
        <li class="nav-item dropdown" *ngIf="loginService.usuarioLogueado.perfil===perfil.ADMINISTRATIVO">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administración
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['escribanos']">Escribanos</a>
                <a class="dropdown-item" [routerLink]="['novedades']">Novedades</a>
                <a class="dropdown-item" [routerLink]="['pagos']">Registrar Pagos</a>
            </div>
        </li>
        <li class="nav-item"  *ngIf="loginService.usuarioLogueado.perfil===perfil.ADMINISTRADOR">
          <a class="nav-link" [routerLink]="['usuario']">Usuarios</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" *ngIf="!loginService.isLogueado" [routerLink]="['login']">
            <i class="fa fa-user"></i>Login
          </a>
          <a class="nav-link" *ngIf="loginService.isLogueado" [routerLink]="['login']" (click)="logout()">
              {{loginService.usuarioLogueado.userName}}  -  <i class="fa fa-power-off"></i>  Cerrar Sesion
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
